$body-background-color: $white;
$sidebar-color: #ECECEC;
$border-color: #ECECEC;
$body-text-color: #24344D;
$body-heading-color: #24344D;
$nav-child-link-color: #24344D;
$link-color: #24344D;
$btn-primary-color: #3E567C;
$base-button-color: #ECECEC;
$search-result-preview-color: #24344D;
$search-background-color: #E6E7E8;
$table-background-color: $white;
$feedback-color: darken($sidebar-color, 2%);
$code-background-color: #C5CCD7; 
$code-linenumber-color: #24344D; 

table {
    border-top: 4px solid #E7D7BC;
    border-bottom: 4px solid #E7D7BC;
}

.table_link_text {
    color: #24344D;
    text-decoration: underline;
}

// add accordion functionality

.accordion {
    overflow-anchor: none;
  }
  
  .accordion > .card {
    overflow: hidden;
  }
  
  .accordion > .card:not(:last-of-type) {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .accordion > .card:not(:first-of-type) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
  }
  
  ul.jk_accordion {position: relative; margin: 1.4rem 0!important; border-bottom: 1px solid rgba(0,0,0,0.25); padding-bottom: 0;}
  ul.jk_accordion li.acc {list-style: none; margin-left: 0;background-color:#e8e8ea;color:#000; margin-bottom: 0.75rem;}
  ul.jk_accordion li.acc input {display: none;}
  ul.jk_accordion li.acc label {font-weight: bold; display: block; cursor: pointer; padding: 0.75rem 2.4rem 0.75rem 1rem; margin: 0;}
  ul.jk_accordion li.acc div.show {display: none; padding-bottom: 1.2rem;}
  ul.jk_accordion li.acc input:checked + label {font-weight: bold;}
  ul.jk_accordion li.acc input:checked + label + div.show {display: block;}
  ul.jk_accordion li.acc label::before {content: "+"; font-weight: normal; font-size: 130%; line-height: 1.1rem; padding: 0; position: absolute; right: 0.5rem; transition: all 0.15s ease-in-out;}
  ul.jk_accordion li.acc input:checked + label::before {transform: rotate(-45deg);}
  .main-content ul.jk_accordion > li.acc::before {
    content: none;
  }

  .show {
    background-color: white;
    color: #5C5962;
    padding: 20px 10px;
  }

// end add accordion functionality
